@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

:root {
    --black: #222831;
    --gray: #393e46;
    --yellow: #fcda05;
    --white: #fffbe0;
}

body {
    background: var(--white);
}

.navSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 7%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    background: var(--black);

}

.logo {
    width: 60px;
    border-radius: 50%;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    top: 0;
    z-index: 2;
    width: calc(100% - 50px);
    right: calc(-100% + 50px);
    height: 100%;
    background: var(--black);
    transition: 0.5s;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
}

.navList, .socials {
    width: 100%;
}

.navBar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--gray);
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--gray);
    cursor: pointer;
}

.navItems a {
    color: var(--yellow);
    text-transform: uppercase;
}

.socialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    cursor: pointer;
}

.socialIcon a {
    color: var(--yellow);
    
}

.toggleBox {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    bottom: 30px;
    opacity: 0;
    z-index: 4;
}

.hamburgerToggle {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background: var(--yellow);
    cursor: pointer;
    z-index: 3;
    transition: 0.1s;
}

.hamburgerToggle::before, .hamburgerToggle::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    border-radius: 15px;
    background: var(--yellow);
    cursor: pointer;
    z-index: 3;
    transition: 0.6s;
}

.hamburgerToggle::before {
    width: 24px;
    top: 10px;
}

.hamburgerToggle::after {
    width: 26px;
    top: -10px;
}

nav .navLinks input:checked ~ .hamburgerToggle {
    background: transparent;
}

nav .navLinks input:checked ~ .hamburgerToggle::before {
    top: 0;
    width: 30px;
    transform: rotate(45deg);
}

nav .navLinks input:checked ~ .hamburgerToggle::after {
    top: 0;
    width: 30px;
    transform: rotate(-45deg);
}

nav .navLinks input:checked ~ .navBar {
    right: 0;
    box-shadow: -1px 0 5px rgba(0,0,0,0.6);
}

.contentSection {
    width: 100%;
    padding: 30px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentTitle {
    color: var(--black);
    line-height: 45px;
}

.contentDesc {
    color: var(--gray);
}

.contentMenuLink {
    width: fit-content;
    padding: 10px 18px;
    background: var(--black);
    color: var(--yellow);
    border-radius: 16px;
}

.contentPic {
    width: 100%;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: var(--black);
    padding: 30px;
}

.footerTitle {
    position: relative;
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 20px;
}

.footerTitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: var(--yellow);
    bottom: 8px;
    transform: skew(-45deg);
}

.footerTxt, .footerTxt a {
    color: rgba(255,255,255,0.3);
}