@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

:root {
    --black: #222831;
    --gray: #393e46;
    --yellow: #fcda05;
    --white: #fffbe0;
}

html.active {
    overflow: hidden;
}

body {
    background: var(--white);
}

.navSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 7%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.8);
    background: var(--black);
}

.logo {
    width: 60px;
    border-radius: 50%;
}

.navBar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    top: 0;
    z-index: 2;
    width: calc(100% - 50px);
    right: calc(-100% + 50px);
    height: 100%;
    background: var(--black);
    transition: 0.5s;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
}

.navList, .socials {
    width: 100%;
}

.navBar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--gray);
}

.navItems {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--gray);
}

.navItems a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--yellow);
    text-transform: uppercase;
    cursor: pointer;
}

.socialIcon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    cursor: pointer;
    color: var(--yellow);
    transition: ease-in-out 0.3s;
}

.toggleBox {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    bottom: 30px;
    opacity: 0;
    z-index: 4;
}

.hamburgerToggle {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background: var(--yellow);
    cursor: pointer;
    z-index: 3;
    transition: 0.1s;
}

.hamburgerToggle::before, .hamburgerToggle::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    border-radius: 15px;
    background: var(--yellow);
    cursor: pointer;
    z-index: 3;
    transition: 0.6s;
}

.hamburgerToggle::before {
    width: 24px;
    top: 10px;
}

.hamburgerToggle::after {
    width: 26px;
    top: -10px;
}

nav .navLinks input:checked ~ .hamburgerToggle {
    background: transparent;
}

nav .navLinks input:checked ~ .hamburgerToggle::before {
    top: 0;
    width: 30px;
    transform: rotate(45deg);
}

nav .navLinks input:checked ~ .hamburgerToggle::after {
    top: 0;
    width: 30px;
    transform: rotate(-45deg);
}

nav .navLinks input:checked ~ .navBar {
    right: 0;
    box-shadow: -1px 0 5px rgba(0,0,0,0.6);
}

.contentSection {
    width: 100%;
    padding: 30px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentTitle {
    color: var(--black);
    line-height: 45px;
}

.contentDesc {
    color: var(--gray);
}

.contentMenuLink {
    width: fit-content;
    padding: 10px 18px;
    background: var(--black);
    color: var(--yellow);
    border-radius: 16px;
}

.contentPic {
    width: 100%;
}

@keyframes isImageMoving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: var(--black);
    padding: 30px;
}

.footerTitle {
    position: relative;
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 20px;
}

.footerTitle::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: var(--yellow);
    bottom: 8px;
    transform: skew(-45deg);
}

.footerTxt, .footerTxt a {
    color: rgba(255,255,255,0.3);
}

@media (min-width: 768px) {

    .toggleBox, .hamburgerToggle {
        display: none;
    }

    .navSection {
        padding: 0 5%;
    }

    .navBar {
        position: static;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        padding-top: 0;
        z-index: 1;
        width: auto;
        right: auto;
        height: auto;
        background: transparent;
    }
    
    .socials {
        padding-top: 0;
        gap: 15px;
    }
    
    .navBar::before {
        width: 0;
        height: 0;
    }

    .navList {
        display: flex;
    }
    
    .navItems {
        width: auto;
        height: auto;
        border-bottom: none;
    }

    .navItems a {
        padding: 10px;
        font-size: 18px;
    }
    
    .contentSection {
        padding: 50px;
    }
    
    .contentBox {
        gap: 50px;
    }
    
    .textBox {
        gap: 35px;
    }

    .contentTitle {
        font-size: 36px;
    }

    .contentDesc {
        font-size: 18px;
    }
    
    .contentMenuLink {
        padding: 12px 20px;
        font-size: 18px;
    }

    .picBox {
        text-align: center;
    }

    .contentPic {
        width: 80%;
    }
    
    .footerSection {
        gap: 35px;
        padding: 50px;
    }
    
    .footerTitle {
        padding-bottom: 15px;
    }
    
    .footerTitle::before {
        bottom: 12px;
    }

}

@media (min-width: 992px) {

    .navSection {
        padding: 0 5%;
    }

    .navBar {
        gap: 30px;
    }

    .navItems a {
        position: relative;
        font-size: 20px;
        padding: 10px 15px;
    }

    .navItems a::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 15px;
        width: 0;
        height: 3px;
        border-radius: 10px;
        background: var(--white);
        transition: 0.3s;
    }

    .navItems a:hover:before {
        width: 40px;
    }

    .fa-brands {
        transition: ease-in-out 0.3s;
    }

    .socialIcon a:hover {
        background: var(--yellow);
        box-shadow: 0 0 5px 1px var(--yellow);
    }

    .socialIcon a:hover .fa-brands {
        color: var(--black);
    }
    
    .contentBox {
        justify-content: space-between;
        flex-direction: row;
    }
    
    .textBox {
        justify-content: center;
        width: 50%;
        gap: 30px;
    }

    .contentTitle {
        font-size: 40px;
    }
    
    .contentDesc {
        font-size: 20px;
    }
    
    .contentMenuLink {
        position: relative;
        padding: 16px 24px;
        border-radius: 30px;
        font-size: 20px;
        overflow: hidden;
        z-index: 1;
        transition: ease-in-out 0.3s;
    }

    .contentPic {
        width: 100%;
        animation: isImageMoving 4s ease-in-out infinite;
    }

    .contentMenuLink::before, .contentMenuLink::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background: var(--yellow);
        z-index: -1;
        transition: ease-in-out .3s;
    }

    .contentMenuLink::before {
        top: 0;
        left: -10%;
        transform: skew(-45deg);
    }

    .contentMenuLink::after {
        bottom: 0;
        right: -10%;
        transform: skew(-45deg);
    }

    .contentMenuLink:hover:before, .contentMenuLink:hover:after {
        width: 65%;
    }

    .contentMenuLink:hover {
        color: var(--black);
    }

    .footerSection {
        flex-direction: row;
        gap: 100px;
        padding: 40px;
    }
    
}

@media (min-width: 1200px) {

    .navBar {
        gap: 50px;
    }

    .contentSection {
        padding: 60px 5%;
    }
    
    .textBox {
        width: 50%;
        gap: 30px;
    }

    .contentTitle {
        font-size: 44px;
        line-height: 60px;
    }

    .footerSection {
        gap: 120px;
    }

}